.main_wrapper {
  border-bottom: 3px solid #f0f0f5;
  background-color: white;
}

.mob_menu {
  cursor: pointer;
  box-shadow: 0 6px 16px rgb(52 105 203 / 16%);
  background-color: #fff;
  padding: 7px;
  border-radius: 6px;
}

.menu_tag {
  color: #00d8a2;
  font-size: 12px;
  margin-bottom: 10px;
}

.menu_a_tag {
  color: #333 !important;
  text-decoration: none;
  font-size: 14px;
}

.menu_new {
  background-color: #f75d34;
  padding: 1px 5px;
  font-size: 10px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
}
