.filter_nav {
  padding: 10px 5px;
  background-color: #f5f5f5;
  font-weight: 400;
  border-bottom: 0.1px solid gray;
  cursor: pointer;
}

.filter_nav.active {
  padding: 10px 5px;
  background-color: #ffffff;
  font-weight: 700;
  border-bottom: 0.1px solid transparent;
}
