.main_div {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 7px;
  background-color: #dfe9f1;
  z-index: 9999;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: white;
  background-color: #0056d2;
  border-radius: 4px;
  padding: 8px 0;
}

.link_a {
  text-decoration: none;
  color: white;
}
