.testimonial_wwrap {
  background-color: #02081b;
  position: relative;
  padding: 50px 0;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .huge_number {
    font-size: 50px;
  }
  .testimonial_wwrap {
    padding: 30px 0;
  }
}
