html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Poppins", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Poppins", sans-serif !important;
}

label,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Merriweather Sans', sans-serif; */
  font-family: "Poppins", sans-serif !important;
}

* {
  box-sizing: border-box;
}
p {
  font-size: 16px;
}

.bgprimary,
.bg-primary {
  background-color: #0056d2;
}
.textprimary,
.text-primary {
  color: #0056d2;
}
.shadow-2 {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.04);
}
.text-success {
  color: #1abc9c !important;
}
.bg-success {
  background-color: #1abc9c !important;
}

.navbar-brand {
  /* margin-right: 2rem !important; */
  font-size: 0px !important;
  padding-bottom: 0px !important;
}

.input-group-text {
  background-color: #0056d2 !important;
  border: 1px solid #0056d2 !important;
}

.form-check-input:checked {
  background-color: #0056d2 !important;
  border-color: #0056d2 !important;
}

.form-check-input:focus {
  border-color: #0056d2 !important;
  box-shadow: none !important;
}

.paginationBtns {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.paginationBtns a {
  padding: 3px 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid var(--theme-yellow);
  color: #9ba9b3 !important;
  cursor: pointer;
  text-decoration: none;
}

.paginationBtns a:hover {
  color: #fff !important;
  font-weight: 700 !important;
  background-color: #0056d2;
}

.paginationActive a {
  color: #fff !important;
  font-weight: 700 !important;
  background-color: #0056d2;
}

.paginationDisabled a:hover {
  cursor: not-allowed;
  color: #9ba9b3 !important;
  background-color: #fff !important;
}

.paginationBtns .li {
  width: 100px;
}

.suggest-me-btn {
  padding: 10px 8px !important;
  background-color: aliceblue;
  margin-right: 10px;
  /* box-shadow: 0 6px 10px rgb(51 54 47 / 5%), 0 10px 16px rgb(51 51 50 / 6%); */
  position: relative;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #0056d2;
  text-decoration: none;
}

.suggest-me-btn:hover {
  color: white;
}
.suggest-me-btn:hover {
  color: #0056d2;
}

.nav_new {
  background-color: #f75d34;
  padding: 1px 5px;
  font-size: 9px;
  border-radius: 4px;
  position: absolute;
  top: -7px;
  right: -12px;
}

.dropdown-toggle::after {
  display: none !important;
}

.menu-drop {
  padding: 6px 8px;
}

.univ-logo {
  height: fit-content;
  width: 400px;
}
form .col {
  position: relative;
  margin-bottom: 17px;
}

.form-label {
  color: #0000009e;
  font-size: 12px;
  position: absolute;
  top: -9px;
  background-color: #fff;
  padding: 0 6px;
  left: 18px;
}
.p-tabview .p-tabview-nav {
  border-bottom: 0;
  padding-bottom: 10px;
  gap: 10px;
  justify-content: center;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border-radius: 4px;
  padding: 1rem 1.25rem;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.04);
  font-weight: normal;
  color: #000;
  border: 1px solid #ddd;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background-color: #0056d2;
  color: #fff;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: none;
}

.categoery_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 65vw;
  height: 330px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0px 11px 17px #3333330d;
  z-index: 109;
}

.categ_modal_close {
  font-size: 37px;
  cursor: pointer;
}

.cate_modal_body {
  position: absolute;
  top: 72px;
  left: 0;
  width: 100%;
  height: calc(100% - 58px);
  overflow: scroll;
}

.cate_modal_body::-webkit-scrollbar {
  width: 10px;
  background-color: #eee;
}

.cate_modal_body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.cate_modal_body > div {
  display: inline-block;
  margin: 5px;
  font-size: 14px;
}

.cate_modal_body > div input {
  margin-right: 5px;
}

.cate_modal_body label {
  display: flex;
  align-items: center;
  padding: 2px 12px;
  border: 1px solid #eee;
  border-radius: 21px;
  cursor: pointer;
}
label.form-check-label {
  font-size: 12px;
  color: #494c5b;
}
.form-check {
  min-height: 2rem;
}

.pulse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
  box-shadow: 0 0 0 rgb(193 190 181 / 40%);
  animation: pulse 2s infinite;
  color: #fff;
  line-height: normal;
  font-size: 12px;
  padding-left: 2px;
}

.modal-dialog {
  max-width: 700px !important;
}
/* .p-tabview .p-tabview-nav {
  border: none !important;
  gap: 10px;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
background-color: #f8f9fa !important;
border-radius: 25px !important;
margin: 0 !important;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #0056d2 !important;
  color: #fff !important;
  border-radius: 25px !important;
  padding:  1rem 1.25rem;
  margin: 0 !important;

}
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: none;
  margin: 0 !important;
}
.p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: none !important;
  margin: 0 !important;
} */
.p-tabview .p-tabview-panels {
  background-color: transparent;
  border-radius: 12px;
  margin-top: 20px;
  padding: 0rem;
}
.tab_wrap .p-tabview-nav {
  flex-wrap: wrap;
  background-color: transparent;
}
.tab_wrap input::placeholder {
  font-size: 14px;
}

.pulse:hover {
  animation: none;
}

.wrapper {
  z-index: 999 !important;
}

.text-xs {
  font-size: 12px;
}

.modal-sm {
  max-width: 350px !important;
  margin: 0 auto !important;
}
a.dropdown-toggle.nav-link {
  padding-left: 0 !important;
}
.mob-menu.navbar-nav .dropdown-menu.show {
  position: absolute;
  left: -56px;
}
.p-tabview .p-tabview-nav .p-tabview-ink-bar {
  display: none !important;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.8);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.8);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.header_logo {
  max-width: 170px;
}
.banner_heading {
  font-size: 3rem;
}

.connect_now_modal_btn {
  padding: 7px 12px 11px 12px;
  font-size: 12px;
}

/* Responsive */
@media only screen and (max-width: 991px) {
  .banner_heading {
    font-size: 2rem;
  }
  .mobile_footer_pd {
    padding-bottom: 65px !important;
  }
}

@media only screen and (max-width: 768px) {
  .p-tabview .p-tabview-nav li .p-tabview-nav-link {

  padding: 0.5rem 0.5rem;

}
  .video_modal_iframe {
    height: 275px;
  }
  .connect_now_modal_btn {
    padding: 7px 8px 11px 8px;
    font-size: 12px;
  }
  .banner_heading {
    font-size: 1.5rem;
  }
  .header_logo {
    max-width: 120px;
  }

  .paginationBtns a {
    margin: 0 auto;
  }
  .p-tabview .p-tabview-panels {
    padding: 1.25rem 5px !important;
  }
  .jMcrRR > input {
    padding: 0 0 0 5px !important;
    font-size: 14px !important;
  }
  .univ-logo {
    width: 438px;
    height: 160px;
  }

  .col-md-8 {
    margin-top: 10px !important;
  }
}
@media only screen and (max-width: 520px) {
  .video_modal_iframe {
    height: 250px;
  }
}
