.mycard {
    margin: 10px 0;
    flex-direction: column;
    align-items: flex-start !important;
}


@media screen and (max-width:768px) {
    .banner_header {
        font-size: 30px !important;
    }
    .search_box input{
        font-size: 10px !important;
    }
}